:root {
  --bg: rgba(200, 202, 211, 0.774);
  --bg-con: rgba(232, 233, 238, 0.774);
  --text: whitesmoke;
  --blue: rgb(34, 62, 219);
  --green: #018d14;
  --red: #ff0000;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: max-content auto;
}

.nav {
  border-bottom: 2px solid black;
  background-color: var(--blue);
  color: var(--text);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: max-content;
  min-height: 5vw;
}

.logo {
  color: var(--text);
  font-weight: 900;
  margin: 10px;
}

main {
  display: grid;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
}

.page-count {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.no-underline {
  text-decoration: none;
}

.underline {
  text-decoration: solid underline black 2px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  font-weight: 900;
  padding: 5px 0;
  margin: 5px;
  color: var(--blue);
}

h3 {
  font-size: 20px;
  padding: 5px 0;
  margin: 5px;
  color: black;
}

p {
  font-size: 18px;
  padding: 5px 0;
  margin: 5px;
}

label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}

label > p {
  text-align: end;
}

button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.button-rectangle {
  display: grid;
  grid-template-columns: max-content 50px;
  padding: 12px 12px;
  background-color: var(--green);
  border: 1px solid var(--blue);
  color: var(--text);
  margin: 0 auto 10px auto;
  font-weight: 900;
  font-size: 22px;
  border-radius: 20px;
  width: 180px;
}

.button-circle {
  display: inline;
  grid-template-columns: auto auto;
  background-color: var(--green);
  color: white;
  font-weight: 900;
  font-size: 30px;
  border-radius: 100%;
  width: fit-content;
  margin-left: 25px;
}

.arrow {
  width: 50%;
  margin: 0 auto;
}

.single-article-vote {
  background-color: var(--green);
  color: white;
  border-radius: 100%;
  width: fit-content;
  margin: 15px;
}

.articles-page {
  display: grid;
  width: 100%;
}

.query-options {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  margin: 5px auto 0 auto;
}

.query-options button {
  background-color: var(--blue);
  color: white;
  margin: 5px 0px;
  border-radius: 0;
  height: 50px;
  border: 1px solid var(--bg);
  padding: 5px 10px;
  width: max-content;
}

.query-options label {
  gap: 0px;
}

.arrow-up {
  height: 30px;
  padding: 5px;
}

.arrow-down {
  height: 30px;
  padding: 5px;
}

.article-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 35vh;
  background-color: var(--bg-con);
  border: 2px solid var(--blue);
  border-radius: 8px;
  padding: 5px 10px;
  margin: 5px auto;
  width: 90vw;
  max-width: 800px;
  @media screen and (min-width: 800px) {
    margin: 10px auto;
  }
}

.topic-link {
  border: 1px solid transparent;
  background-color: var(--bg-con);
  font-size: 22px;
  width: fit-content;
  text-align: start;
}

.topic-link:hover {
  filter: brightness(90%);
  cursor: pointer;
}

#ac-topic:hover {
  filter: brightness(90%);
  cursor: pointer;
}

#ac-title {
  grid-column: 1/3;
}

#ac-date {
  text-align: right;
}

#votes-comments {
  grid-row: 5/6;
  @media screen and (min-width: 800px) {
    display: flex;
    grid-row: 6/7;
    grid-column: 1/3;
    justify-content: center;
  }
}

#ac-img {
  grid-column: 2/3;
  grid-row: 4/6;
  margin: 5px 10px;
  border-bottom-right-radius: 8px;
  @media screen and (min-width: 800px) {
    border-radius: 0;
    margin: 0;
    grid-column: 1/3;
    grid-row: 4/6;
  }
}

.single-card {
  display: grid;
  grid-template-areas: "topic date" "title title" "author ." "img img" "body body" "votes votes";
  height: max-content;
  width: 90vw;
  background-color: var(--bg-con);
  border: 2px solid var(--blue);
  margin: 20px auto;
  border-radius: 8px;
  padding: 5px 10px;
  @media only screen and (min-width: 800px) {
    max-width: 800px;
  }
}

#single-topic {
  grid-area: topic;
}

#single-date {
  grid-area: date;
  text-align: end;
}

#single-title {
  grid-area: title;
}

#single-author {
  grid-area: author;
}

#single-img {
  grid-area: img;
  width: 100%;
}

#single-body {
  grid-area: body;
}

.single-votes {
  grid-area: votes;
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-size: 1.5em;
}

.small-img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--blue);
}

#new-comment {
  margin-bottom: 30px;
  text-wrap: wrap;
  line-height: 1rem;
  height: 75px;
}

.comment-card {
  display: grid;
  grid-template-areas: "author date" "body body" "votes votes";
  background-color: var(--bg-con);
  border: 2px solid var(--blue);
  height: max-content;
  width: 90vw;
  margin: 20px auto;
  text-overflow: ellipsis;
  border-radius: 8px;
  padding: 5px 10px;
  @media only screen and (min-width: 800px) {
    max-width: 800px;
  }
}

#cc-date {
  grid-area: date;
  width: max-content;
  justify-self: end;
}
#cc-body {
  grid-area: body;
}

#comment-title {
  margin: 0 auto;
}

.delete-button {
  background-color: var(--red);
  font-size: 30px;
  padding-top: 7px;
  margin: 10px auto;
  width: 60px;
  border: 1px solid transparent;
  border-radius: 100%;
}

.comment-card .single-votes {
  grid-column: 1/2;
}

.new-comment {
  display: grid;
  grid-template-rows: max-content auto max-content;
  width: 80vw;
  margin: auto;
  border-radius: 8px;
  padding: 5px 10px;
  @media only screen and (min-width: 800px) {
    max-width: 800px;
    margin: 0 auto;
  }
}

.new-comment > button {
  display: flex;
  justify-content: center;
}

.disabled {
  opacity: 0.8;
  pointer-events: none;
}

.no-display {
  display: none;
}

.red {
  background-color: var(--red);
}

.home-page {
  padding: 25px;
  grid-auto-rows: max-content;
}

.topic-card {
  border: 2px solid var(--blue);
  margin: 10px 10px;
  border-radius: 12px;
  background-color: var(--bg-con);
  max-width: 800px;
  @media screen and (min-width: 800px) {
    margin: 10px auto;
  }
}

.topic-card > h2 {
  text-align: center;
  text-decoration: underline;
}

.no-display {
  display: none;
}

.dropdown-topic button,
.order-button {
  padding: 8px 8px;
  background-color: var(--green);
  border: 1px solid var(--blue);
  color: white;
  margin: 10px 5px 10px 10px;
  font-weight: 900;
  font-size: 18px;
  border-radius: 30px;
  width: max-content;
}

.dropdown-topic div {
  background-color: var(--bg-con);
  border: 2px solid var(--blue);
}

.dropdown-topic a:hover {
  background-color: var(--green);
  transform: scale(1.2);
}

.error-page {
  display: grid;
  grid-template-rows: max-content fit-content auto;
  text-align: center;
  padding: 10px;
}

.error-page h2 {
  color: black;
}

.error-icon {
  font-size: 150px;
  color: red;
  margin: 0 auto;
}

.error-page > button {
  background-color: var(--blue);
  color: White;
  font-size: 24px;
  font-weight: 900;
  border: 0;
  border-radius: 8px;
  margin: auto;
  padding: 20px;
}

.single-article-page {
  padding-bottom: 20px;
}
