:root {
  --bg: rgb(201, 204, 224);
  --bg-con: rgb(221, 221, 201);
  --text: whitesmoke;
  --blue: rgb(60, 85, 224);
  --green: #00eb6a;
  --red: #ff5470;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: max-content auto;
}

.logo {
  color: var(--text);
}

.nav {
  padding: 8px;
  border-bottom: 2px solid black;
  background-color: var(--blue);
  color: var(--text);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.nav > button {
  border-radius: 20px;
  font-size: 20px;
  height: fit-content;
  background-color: var(--bg-con);
  margin: auto 10px;
  color: var(--blue);
  box-shadow: 1px 1px 5px 1px var(--text);
}

main {
  margin: 0 auto;
  width: 100%;
  background-color: var(--bg);
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.no-underline {
  text-decoration: none;
}

.underline {
  text-decoration: solid underline black 2px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  padding: 5px 0;
  margin: 5px;
}

p {
  font-size: 18px;
  padding: 5px 0;
  margin: 5px;
}

.button-rectangle {
  display: grid;
  grid-template-columns: auto auto;
  padding: 8px 12px;
  background-color: var(--green);
  color: white;
  margin: 10px;

  font-weight: 900;
  font-size: 18px;
  border-radius: 30px;
}

.button-circle {
  display: inline;
  grid-template-columns: auto auto;
  background-color: var(--green);
  color: white;
  font-weight: 900;
  font-size: 30px;
  border-radius: 100%;
  width: fit-content;
  margin-left: 25px;
}


.arrow {
  height: 3vh;
  width: 5vw;
  margin-left: 10px;
}

.single-article-vote {
  background-color: var(--green);
  color: white;
  border-radius: 100%;
  width: fit-content;
  margin: 25px;
}


.arrow-up {
  height: 30px;
  padding: 5px;
}

.arrow-down {
  height: 30px;
  padding: 5px;
}

.card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 85% 15%;
  height: 40vh;
  background-color: var(--bg-con);
  border: 2px solid var(--blue);
  margin: 10px;
  border-radius: 8px;
  padding: 5px 10px;
}

.single-card {
  display: grid;
  grid-template-areas: "topic date" "title title" "author ." "img img" "body body" "votes votes";
  height: fit-content;
  width: 80vw;
  background-color: var(--bg-con);
  border: 2px solid var(--blue);
  margin: 20px auto;
  border-radius: 8px;
  padding: 5px 10px;
}

.single-topic {
  grid-area: topic;
}

.single-date {
  grid-area: date;
  text-align: end;
}

.single-title {
  grid-area: title;
}

.single-author {
  grid-area: author;
}

.single-img {
  grid-area: img;
  width: 100%;
}

.single-body {
  grid-area: body;
}

.single-votes {
  grid-area: votes;
}

.small-img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--blue);
}

.add-comment {
  display: flex;
  margin: auto;
  grid-column: 1/3;
  height: fit-content;
}

.red {
  background-color: var(--red);
}