:root {
  --bg: rgb(201, 204, 224);
  --bg-con: rgb(221, 221, 201);
  --text: whitesmoke;
  --blue: rgb(60, 85, 224);
  --green: #00eb6a;
  --red: #ff5470;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: max-content auto;
}

.logo {
  color: var(--text);
  margin: 0;
}

.nav {
  border-bottom: 2px solid black;
  background-color: var(--blue);
  color: var(--text);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: max-content;
}

.nav > button {
  border-radius: 20px;
  font-size: 20px;
  height: fit-content;
  background-color: var(--bg-con);
  margin: auto 10px;
  color: var(--blue);
  box-shadow: 1px 1px 5px 1px var(--text);
}

main {
  display: grid;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
}

.page-count {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.no-underline {
  text-decoration: none;
}

.underline {
  text-decoration: solid underline black 2px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  padding: 5px 0;
  margin: 5px;
}

h3 {
  font-size: 20px;
  padding: 5px 0;
  margin: 5px;
}

p {
  font-size: 18px;
  padding: 5px 0;
  margin: 5px;
}

textarea {
  text-wrap: wrap;
  line-height: 1rem;
  height: 75px;
}

label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}

label > p {
  text-align: end;
}

button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.button-rectangle {
  display: grid;
  grid-template-columns: auto auto;
  padding: 8px 12px;
  background-color: var(--green);
  border: 1px solid var(--blue);
  color: white;
  margin: 10px;

  font-weight: 900;
  font-size: 18px;
  border-radius: 30px;
}

.button-circle {
  display: inline;
  grid-template-columns: auto auto;
  background-color: var(--green);
  color: white;
  font-weight: 900;
  font-size: 30px;
  border-radius: 100%;
  width: fit-content;
  margin-left: 25px;
}

.arrow {
  height: 3vh;
  width: 5vw;
  margin-left: 10px;
}

.single-article-vote {
  background-color: var(--green);
  color: white;
  border-radius: 100%;
  width: fit-content;
  margin: 15px;
}

.arrow-up {
  height: 30px;
  padding: 5px;
}

.arrow-down {
  height: 30px;
  padding: 5px;
}

.article-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  min-height: 35vh;
  background-color: var(--bg-con);
  border: 2px solid var(--blue);
  margin: 10px;
  border-radius: 8px;
  padding: 5px 10px;
}

.single-card {
  display: grid;
  grid-template-areas: "topic date" "title title" "author ." "img img" "body body" "votes votes";
  height: max-content;
  width: 90vw;
  background-color: var(--bg-con);
  border: 2px solid var(--blue);
  margin: 20px auto;
  border-radius: 8px;
  padding: 5px 10px;
}

.single-topic {
  grid-area: topic;
}

.single-date {
  grid-area: date;
  text-align: end;
}

.single-title {
  grid-area: title;
}

.single-author {
  grid-area: author;
}

.single-img {
  grid-area: img;
  width: 100%;
}

.single-body {
  grid-area: body;
}

.single-votes {
  grid-area: votes;
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-size: 1.5em;
}

.small-img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--blue);
}

.comment-card {
  display: grid;
  grid-template-areas: "author date" "body body" "votes votes";
  background-color: var(--bg-con);
  border: 2px solid var(--blue);
  height: max-content;
  width: 80vw;
  margin: 20px auto;
  border-radius: 8px;
  padding: 5px 10px;
}

.cc-author {
  grid-area: author;
}

.cc-date {
  grid-area: date;
  width: max-content;
  justify-self: end;
}
.cc-body {
  grid-area: body;
}
.cc-votes {
  grid-area: votes;
}

.new-comment {
  display: grid;
  grid-template-rows: max-content auto max-content;
  width: 80vw;
  margin: auto;
  border-radius: 8px;
  padding: 5px 10px;
}

.new-comment > button {
  display: flex;
  justify-content: center;
}

.disabled {
  opacity: 0.8;
  pointer-events: none;
}

.no-display {
  display: none;
}

.red {
  background-color: var(--red);
}

.delete-button {
  background-color: var(--red);
  font-size: 30px;
  padding-top: 7px;
}

.home-page {
  padding: 25px;
  grid-auto-rows: max-content;
}

.topic-card {
  border: 2px solid var(--blue);
  margin: 10px 10px;
  border-radius: 12px;
  background-color: var(--bg-con);
}

.topic-card > h2 {
  text-align: center;
  text-decoration: underline;
}

.no-display {
  display: none;
}

.dropdown-topic button,
.order-button {
  padding: 8px 8px;
  background-color: var(--green);
  border: 1px solid var(--blue);
  color: white;
  margin: 10px 5px 10px 10px;
  font-weight: 900;
  font-size: 18px;
  border-radius: 30px;
  width: max-content;
}

.dropdown-topic div {
  background-color: var(--bg-con);
  border: 2px solid var(--blue);
}

.dropdown-topic a:hover {
  background-color: var(--green);
  transform: scale(1.2);
}

.error-page {
  display: grid;
  grid-template-rows: max-content fit-content auto;
  text-align: center;
  padding: 10px;
}

.error-icon {
  font-size: 150px;
  color: red;
  margin: 0 auto;
}

.error-page > button {
  background-color: var(--blue);
  color: White;
  font-size: 24px;
  font-weight: 900;
  border: 0;
  border-radius: 8px;
  margin: auto;
  padding: 20px;
}
